.custom-text-h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  color: #6495ED
}
.custom-text-h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  color: #6495ED
}

.custom-text-h3 {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  color: #6495ED
}

.custom-font {
  font-family: 'Varela Round', sans-serif;
  text-align: justify;
  color: #6495ED
}

.custom-font-c {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  color: #6495ED
}
